<a class="dropdown-item" href="#">Parcourir</a>
<a class="dropdown-item" href="#">Modèles</a>
<a class="dropdown-item" href="#">Propriétés</a>
<a class="dropdown-item" href="#">Eléments</a>
<a class="dropdown-item" href="#">Se déconnecter</a>