{{#> index title="Dropbox" icon="import-export" displaymode="table"}}
	{{#*inline "actions"}}
		{{>button icon="done"}}
	{{/inline}}
	{{#*inline "menu"}}
		{{>button icon="close"}}
	{{/inline}}
	{{#*inline "content"}}
		<form action="updateHost/{{id}}">
			<div class="element">
				<span class="field label">Utilisateur</span>
				<span class="field" property="role">
					<input type="text" name="host" value=""/>
				</span>
			</div>
			<div class="element">
				<span class="field label">Mot de passe</span>
				<span class="field" property="role">
					<input type="text" name="host" value=""/>
				</span>
			</div>
		</form>
	{{/inline}}
{{/index}}