<div class="button-filechooser-icon stack">
	<input type="file" name="files" class="stack-input" change="submitForm" multiple="multiple">
	<div class="button-filechooser-icon" class="stack-show">
		{{>svg icon}}
	</div>
</div>