<div class="element">
	<span class="field square">{{svg icon}}</span>
	<span class="field">{{name}}</span>
	<span class="field square">
		<a href="property/{{id}}"> 
			{{>button icon="options"}}
		</a>
	</span>
</div>