<select name="operator">
	<option value="ctn" {{isSelected "ctn" operator}}>contient</option>
	<option value="eq" {{isSelected "eq" operator}}>égal à</option>
	<option value="ne" {{isSelected "ne" operator}}>différent de</option>
</select>
<input type="text" name="value" value="{{value}}" placeholder="Blabla..." size="10" value="">