{{log this 'Filter - Element'}}
<div class="element">
	<span class="field square">{{svg "drag-handle"}}</span>
	<span class="field">{{>filter}}</span>
	<span class="field square">
		<span click="removeParentElement">{{svg "delete"}}</span>
	</span>
</div>