<div class="element">
	<div class="field square">{{svg icon}}</div>
	<div class="field label">{{this.name}}</div>
	<div class="field value" element="{{element}}">{{getObjectCardElement this ../this.object}}</div>
</div>