<a class="dropdown-item" href="/objects">Parcourir</a>
<a class="dropdown-item" href="/models">Types</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/account">Compte</a>
<div class="dropdown-item">
	<form action="logout" submit="prevent">
		<input type="submit" value="Se déconnecter">
	</form>
</div>