<div class="element image">
	<input class="selector" click="checkForDelete" type="checkbox" name="{{id}}">
	<div class="vignette squareratio" title="{{name}}" style="background-image:url('uploads/{{src}}')"></div>
</div>