<div class="button-filechooser-icon stack">
	<input name="{{property}}" class="stack-input" click="popTemplate" template="objectproperty-album">
	<div class="photostack stack-show" style="background-image:url('uploads/{{firstItem value}}')"></div>
</div>