<div class="toggle">
	<div class="global" active="true">
		<form action="{{addaction}}" enctype="multipart/form-data">
			{{>button icon="add"}}
		</form>
	</div>
	<div class="specific">
		{{>button icon="delete" click="submitContentForm"}}
	</div>
</div>